<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="reset-password">
            <h1>Hi, ${toUser.username}!</h1>
            <p>
                You've recently requested to reset your password for your bluebac account. Click the button below to
                reset
                it. Please note that this password reset link is only valid for the next 15 minutes.
                <a href="${config.base_url}/v1/auth/resetpassword/${toUser.inviteToken}" class="f-fallback button"
                    target="_blank">Reset your password</a>

                If you have any questions for an admin, don't to this email and it will be sent to them. Alternatively,
                contact our support team anytime or join us on live chat during business hours.
                Welcome aboard,
                The Greenbac Team
                Cheers,
                Greenbac
                If you're having trouble with the button above, copy and paste the URL below into your web browser.
            </p>
        </div>
    </div>
</body>

</html>